
<table>
  <caption>Country List</caption>
  <tr>
    <th scope="col" ><button (click)="callFilter(filteredCountries,'name')">Nom ⬇</button></th>
    <th scope="col"><button (click)="callFilter(filteredCountries,'population')">Population ⬇</button></th>
    <th scope="col"><button (click)="callFilter(filteredCountries,'size')">Superficie ⬇</button></th>
    <th scope="col"><button (click)="callFilter(filteredCountries,'continent')">Continent ⬇</button></th>
    <th scope="col"><button (click)="callFilter(filteredCountries,'gdp')">Produit intérieur brut ⬇</button></th>
    <th scope="col">Image</th>
    <th scope="col"></th>
  </tr>
    <tr *ngFor="let country of filteredCountries; let i = index" [attr.data-index]="i">
      <th scope="row"><a href="/details-page/{{i}}">{{country.name}}</a></th>
      <td>{{country.population}}</td>
      <td>{{country.size}}</td>
      <td>{{country.continent}}</td>
      <td>{{country.GDP}}</td>
      <td><img src="{{country.image}}" class="images"></td>
      <td><button>✏</button></td>
    </tr>
</table>
