<div id="body">
<h1 mat-dialog-title>Ajouter un pays</h1>
<div mat-dialog-content id="inputs">
  <input matInput [placeholder]="'Nom'" [value]="name" (change)="updateName($event)">
  <input matInput [placeholder]="'Population'" [value]="population" (change)="updatePopulation($event)">
  <input matInput [placeholder]="'Superficie'" [value]="size" (change)="updateSize($event)">
  <mat-select [value]="continent" (change)="updateContinent($event)">
    <mat-option [value]="continentType.Europe">{{continentType.Europe}}</mat-option>
    <mat-option [value]="continentType.Africa">{{continentType.Africa}}</mat-option>
    <mat-option [value]="continentType.Asia">{{continentType.Asia}}</mat-option>
    <mat-option [value]="continentType.NorthAmerica">{{continentType.NorthAmerica}}</mat-option>
    <mat-option [value]="continentType.SouthAmerica">{{continentType.SouthAmerica}}</mat-option>
    <mat-option [value]="continentType.Oceania">{{continentType.Oceania}}</mat-option>
    </mat-select>
  <input matInput [placeholder]="'Produit intérieur brut'" [value]="GDP" (change)="updateGDP($event)">
  <input matInput [placeholder]="'image'" [value]="image" (change)="updateImage($event)">
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Annuler</button>
  <button mat-button mat-dialog-close cdkFocusInitial (click)="addCountry()">Ajouter</button>
</div>
</div>
